.bb{
    border: 1px solid #777;
    width: 600px;
    height: 700px;

}
.row1{
    border-bottom: 1px solid #777;
    width: 600px;
    height: 100px;
    background-color: #777;
}
.row2{
    display: block;

    top: 100px;
    border-bottom: 1px solid #777;
    width: 600px;
    height: 100px;
    background-color: #777;
}



.print2b_btn{
    display: block;
    position: relative;
    top: 40px;


}

.print2s_btn{
    display: block;
    position: relative;
    left : 200px;
}